@font-face {
  font-family: 'Bellwethers';
  src: url("./assets/fonts/Bellwethers-Regular.woff") format("woff"); }

/* line 4, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/header.scss */
header.page-header {
  background: url("./assets/flowers.png");
  background-size: 1200px 160px;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 1rem;
  text-align: center; }
  /* line 11, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/header.scss */
  header.page-header img {
    cursor: pointer;
    height: 150px;
    margin: 0 auto; }

/* line 18, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/header.scss */
footer {
  font-size: 0.4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #ffffff;
  padding: 0.4rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase; }
  /* line 30, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/header.scss */
  footer > .row {
    max-width: none; }
  /* line 33, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/header.scss */
  footer .links {
    text-align: center; }
  /* line 36, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/header.scss */
  footer .name {
    padding: 0.5rem 0 0 0;
    text-align: center; }
  /* line 40, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/header.scss */
  footer .bible {
    text-align: left; }
  /* line 44, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/header.scss */
  footer .icon {
    fill: #ffffff;
    display: inline-block;
    cursor: pointer;
    width: 1rem;
    margin-right: 1rem;
    position: relative;
    top: 0.2rem; }
  /* line 53, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/header.scss */
  footer .icon:hover {
    top: -0.2rem; }

/* line 3, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
.page-navigation {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7; }
  /* line 13, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
  .page-navigation .row {
    max-width: 60rem; }
  /* line 17, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
  .page-navigation li {
    list-style-type: none;
    padding: 0;
    margin: 0.2rem 0.2rem;
    display: inline-block; }
  /* line 23, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
  .page-navigation span {
    font-size: 0.75rem;
    cursor: pointer;
    transition: color 0.2s ease-out, font-size 0.2s ease-out; }
  /* line 35, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
  .page-navigation span:hover {
    font-size: 0.80rem;
    color: #141a7e; }
  /* line 39, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
  .page-navigation a {
    color: #000; }
  /* line 42, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
  .page-navigation .icon {
    width: 1rem;
    display: inline-block;
    position: relative;
    top: 0.2rem;
    left: -0.4rem; }

/* line 51, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
.mobile-navigation a {
  color: #141a7e; }

/* line 55, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
.mobile-navigation li {
  list-style-type: none; }
  /* line 57, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
  .mobile-navigation li p {
    font-size: 0.7rem;
    text-transform: uppercase; }

/* line 62, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
.mobile-navigation .columns {
  cursor: pointer;
  border: 1px solid #d7d7d7;
  text-align: center;
  padding: 1rem 0 0 0;
  color: #141a7e;
  transition: color 0.2s ease-out, background-color 0.2s ease-out; }

/* line 77, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
.mobile-navigation .columns:hover {
  background: #141a7e;
  color: #ffffff; }
  /* line 80, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
  .mobile-navigation .columns:hover a {
    color: #ffffff; }
  /* line 83, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
  .mobile-navigation .columns:hover .icon {
    fill: #ffffff; }

/* line 87, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/navigation.scss */
.mobile-navigation .icon {
  fill: #141a7e;
  width: 2.5rem;
  margin: 0 auto; }

@font-face {
  font-family: 'Bellwethers';
  src: url("./assets/fonts/Bellwethers-Regular.woff") format("woff"); }

/* line 4, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
.home {
  max-width: 60rem;
  margin: 0 auto;
  padding: 4rem 0 10rem;
  min-height: 38rem;
  font-size: 1.2rem;
  text-align: center;
  text-align: center; }
  /* line 13, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
  .home .top {
    margin-bottom: 2rem; }
  /* line 16, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
  .home .tech {
    margin: 6rem 0; }
    /* line 18, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
    .home .tech img {
      width: 4rem;
      margin: 1rem 2rem; }
  /* line 23, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
  .home .hello {
    text-align: left; }
    /* line 25, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
    .home .hello .available {
      text-align: center;
      background-color: #000;
      color: #ffffff;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      padding: 0.3rem; }
    /* line 34, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
    .home .hello .find {
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin: -0.4rem 0 0 0;
      color: #141a7e;
      text-align: center; }
      /* line 41, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
      .home .hello .find .icon {
        cursor: pointer;
        width: 1rem;
        display: inline-block;
        margin: 0 0.5rem;
        fill: #141a7e; }
      /* line 48, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
      .home .hello .find .icon:hover {
        fill: #000; }
  /* line 53, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
  .home h5 {
    font-size: 8rem;
    font-family: 'Bellwethers', 'Sacramento';
    color: #141a7e; }
  /* line 59, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
  .home .info {
    max-width: 50rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase; }
    /* line 65, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
    .home .info .columns {
      cursor: pointer;
      text-align: center;
      border: 1px solid #d7d7d7;
      padding: 1rem;
      color: #141a7e; }
      /* line 72, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
      .home .info .columns .icon {
        width: 6rem;
        margin: 0 auto;
        fill: #141a7e;
        transition: width 0.2s ease-out, fill 0.2s ease-out; }
    /* line 90, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
    .home .info .columns:hover .icon {
      width: 6.4rem;
      fill: #000; }
    /* line 96, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
    .home .info img {
      width: 1.2rem;
      margin-top: -0.2rem;
      margin-left: 1rem;
      margin-right: 2rem; }
  /* line 104, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
  .home .connect, .home .learn {
    border: 1px solid #141a7e;
    border-radius: 0.2rem;
    padding: 0.4rem 0; }
  /* line 109, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
  .home .learn {
    cursor: pointer;
    transition: background-color 0.2s ease-out, color 0.2s ease-out; }
  /* line 120, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
  .home .learn:hover {
    color: #ffffff;
    background-color: #141a7e; }
    /* line 123, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
    .home .learn:hover .icon {
      fill: #ffffff; }
  /* line 127, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/home.scss */
  .home .connect {
    border: none; }

@font-face {
  font-family: 'Bellwethers';
  src: url("./assets/fonts/Bellwethers-Regular.woff") format("woff"); }

/* line 4, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/projects.scss */
.projects {
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 15rem; }
  /* line 8, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/projects.scss */
  .projects p {
    margin: 1rem auto;
    max-width: 40rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem; }
  /* line 14, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/projects.scss */
  .projects hr {
    border-color: #141a7e;
    position: relative;
    top: -3rem;
    z-index: -1; }
  /* line 20, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/projects.scss */
  .projects .dev-header {
    font-size: 2rem;
    z-index: 100;
    font-family: 'Bellwethers', 'Sacramento';
    color: #141a7e;
    width: 400px;
    margin: 0 auto;
    background-color: #f7f4e9; }

/* line 3, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
.project {
  margin: 1rem 0 0.5rem;
  padding: 1.4rem;
  height: 45rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.1rem;
  border: 1px solid #d7d7d7;
  position: relative; }
  /* line 12, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
  .project .project-title {
    min-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #141a7e; }
  /* line 19, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
  .project .description {
    padding: 0 0.4rem;
    text-align: justify;
    text-indent: 2rem;
    margin: 2rem  0 0 0;
    font-size: 1rem;
    color: #000;
    font-size: 0.9rem;
    text-justify: inter-word; }
    /* line 29, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
    .project .description span {
      display: inline-block; }
  /* line 33, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
  .project .tech {
    color: #000;
    position: absolute;
    bottom: 0.3rem;
    text-align: left;
    font-size: 0.8rem; }
    /* line 39, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
    .project .tech span {
      margin-right: 0.2rem;
      font-weight: bold; }
  /* line 45, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
  .project > .links {
    height: 5rem;
    padding: 1rem 0;
    text-align: right; }
    /* line 50, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
    .project > .links .goTo {
      padding: 0.3rem 0 0.5rem 0; }
      /* line 54, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
      .project > .links .goTo a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #141a7e;
        position: relative;
        left: 0;
        transition: left 0.2s ease-out; }
      /* line 67, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
      .project > .links .goTo a:hover {
        left: 0.4rem; }
    /* line 72, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
    .project > .links .grey {
      cursor: auto;
      color: #d7d7d7;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #d7d7d7;
      position: relative;
      left: 0; }
      /* line 80, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
      .project > .links .grey > .icon {
        fill: #d7d7d7; }
    /* line 85, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
    .project > .links .goTo:first-child {
      border-bottom: 1px solid #141a7e; }
    /* line 91, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
    .project > .links .icon {
      fill: #141a7e;
      display: inline-block;
      width: 1.7rem;
      margin-left: 1rem; }
  /* line 98, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/project.scss */
  .project .wip {
    text-align: center;
    font-size: 0.8rem;
    background-color: #000;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin: 1rem auto; }

/* line 4, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
.design-tab p {
  text-align: center;
  margin: 3rem auto 0;
  max-width: 40rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem; }

/* line 12, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
.design-projects {
  padding: 1rem 0 0 0;
  overflow: auto; }
  /* line 16, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
  .design-projects hr {
    border-color: #141a7e;
    position: relative;
    top: -3rem;
    z-index: -1; }
  /* line 22, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
  .design-projects .design-header {
    text-align: center;
    z-index: 100;
    font-family: 'Bellwethers', 'Sacramento';
    color: #141a7e;
    width: 20rem;
    font-size: 2rem;
    margin: 0 auto;
    background-color: #f7f4e9; }
  /* line 32, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
  .design-projects .proj {
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.1rem;
    border: 1px solid #d7d7d7;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 34.5rem;
    overflow: hidden; }
    /* line 42, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
    .design-projects .proj img {
      border: 1px solid #d7d7d7;
      margin-bottom: 1rem; }
    /* line 47, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
    .design-projects .proj .view {
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1.6rem; }
      /* line 53, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
      .design-projects .proj .view #open {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        position: relative;
        top: 0.5rem;
        left: 0.5rem; }
  /* line 65, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
  .design-projects .view.rotate > #open {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  /* line 69, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
  .design-projects .proj.open, .design-projects .proj.design {
    overflow: auto;
    height: auto; }
  /* line 73, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
  .design-projects .design figcaption {
    color: #141a7e;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-align: center; }
  /* line 81, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
  .design-projects .details {
    text-align: left;
    padding-left: 1rem; }
    /* line 85, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
    .design-projects .details h5 {
      letter-spacing: 0.3rem;
      font-size: 1.9rem;
      color: #141a7e; }
    /* line 91, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/design-projects.scss */
    .design-projects .details p {
      margin: 1rem auto;
      font-size: 1rem; }

@font-face {
  font-family: 'Bellwethers';
  src: url("./assets/fonts/Bellwethers-Regular.woff") format("woff"); }

/* line 4, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/photography.scss */
.photography {
  text-align: center;
  padding-bottom: 15rem; }
  /* line 7, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/photography.scss */
  .photography hr {
    border-color: #141a7e;
    position: relative;
    top: -3rem;
    z-index: -1; }
  /* line 13, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/photography.scss */
  .photography .photography-header {
    z-index: 100;
    font-family: 'Bellwethers', 'Sacramento';
    color: #141a7e;
    width: 20rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    background-color: #f7f4e9; }
  /* line 23, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/photography.scss */
  .photography .columns {
    padding: 0;
    text-align: center; }
    /* line 27, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/photography.scss */
    .photography .columns figure {
      width: auto; }

@-webkit-keyframes hang {
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); } }

@keyframes hang {
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); } }

/* line 24, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/animation.scss */
.hang {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hang;
  animation-name: hang;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@font-face {
  font-family: 'Bellwethers';
  src: url("./assets/fonts/Bellwethers-Regular.woff") format("woff"); }

/* line 4, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
.about {
  padding-top: 1rem;
  margin: 0 auto;
  max-width: 60rem;
  height: 38rem;
  text-align: center;
  padding-bottom: 60rem; }
  /* line 11, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
  .about .header {
    font-size: 3rem;
    font-family: 'Bellwethers', 'Sacramento';
    color: #141a7e; }
  /* line 16, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
  .about .icon {
    width: 3rem;
    margin: 0 auto;
    fill: #141a7e; }
  /* line 21, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
  .about p {
    text-indent: 1rem;
    text-align: justify;
    text-justify: inter-word; }
  /* line 26, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
  .about .connect {
    margin: 0 auto;
    max-width: 18rem;
    color: #141a7e;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding-bottom: 5rem; }
    /* line 34, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
    .about .connect > a > div {
      color: #141a7e;
      text-align: left;
      border-bottom: 1px dotted #000;
      height: 3rem;
      padding: 1rem 1rem 3rem; }
      /* line 40, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
      .about .connect > a > div .icon {
        position: relative;
        top: 0.3rem;
        margin-right: 1rem;
        display: inline-block;
        width: 1.5rem; }
    /* line 48, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
    .about .connect > a > div:hover {
      color: #000; }
      /* line 50, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
      .about .connect > a > div:hover .icon {
        fill: #000; }
  /* line 55, /Users/dinnagonzales/Desktop/Portfolio 2.0/src/sass/about.scss */
  .about .text {
    padding-bottom: 5rem; }

/* line 12, stdin */
body {
  font-family: 'Lato', sans-serif;
  background-color: #f7f4e9; }
  /* line 16, stdin */
  body a {
    cursor: pointer; }
  /* line 19, stdin */
  body h1 {
    font-size: 6.5rem; }
  /* line 22, stdin */
  body h2 {
    font-size: 6rem; }
  /* line 25, stdin */
  body h3 {
    font-size: 4.5rem; }
  /* line 28, stdin */
  body h4 {
    font-size: 3rem; }
  /* line 31, stdin */
  body h5 {
    font-size: 2rem; }

/* line 36, stdin */
.row {
  max-width: 70rem; }
