@font-face {
  font-family: 'Bellwethers';
  src: url("./assets/fonts/Bellwethers-Regular.woff") format("woff"); }

/* line 4, stdin */
header.page-header {
  background: url("./assets/flowers.png");
  background-size: 1200px 160px;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 1rem;
  text-align: center; }
  /* line 11, stdin */
  header.page-header img {
    cursor: pointer;
    height: 150px;
    margin: 0 auto; }

/* line 18, stdin */
footer {
  font-size: 0.4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #ffffff;
  padding: 0.4rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase; }
  /* line 30, stdin */
  footer > .row {
    max-width: none; }
  /* line 33, stdin */
  footer .links {
    text-align: center; }
  /* line 36, stdin */
  footer .name {
    padding: 0.5rem 0 0 0;
    text-align: center; }
  /* line 40, stdin */
  footer .bible {
    text-align: left; }
  /* line 44, stdin */
  footer .icon {
    fill: #ffffff;
    display: inline-block;
    cursor: pointer;
    width: 1rem;
    margin-right: 1rem;
    position: relative;
    top: 0.2rem; }
  /* line 53, stdin */
  footer .icon:hover {
    top: -0.2rem; }
